body {
    background-color: #eee;
}

.caja {
    margin: 6px;
    padding: 6px;
    border-style: solid;
    border-width: 6px;
    border-color: #faa;
    background-color: #aaf;
    border-radius: 4px;
    height: 60px;
    width: 120px;
    color: #575;
}